<!doctype html>
<html lang="en">

    {{!-- hmtl head --}}
    <head>
        {{!-- favicon error --}}      
        <link rel="shortcut icon" href="#">

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS and responsive viewport -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Custom CSS -->
        <link type="text/css" href="css/style.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        {{!-- website title --}}
        <title>Meal Planning</title>

    </head>

    {{!-- html body --}}
    <body>

        {{!-- header navigation bar --}}
        <header>
            <div class="container">
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="/">Meal Planning</a>
                </nav>
            </div>
        </header>
        
        {{!-- section body content --}}
        <section>
            <div class="container">

                {{!-- bootstrap jumbotron --}}
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Meal Planning Website</h1>
                        <p class="lead">This is a basic Meal Planning website Application using Bootstrap, HandleBars, NodeJs, and Express.</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="/" role="button">Home Page</a>
                        </p>
                    </div>
                </div>

                {{!-- dispay message upon successful added meal idea data --}}
                {{#if message}}
                    <div class="container">
                        <div class="alert alert-danger row justify-content-center">{{message}}</div>
                    </div>
                    {{!-- display data from successful meal idea data add --}}
                    {{#if addedData}}
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <br />
                                <table class="table table-responsive">
                                    <tr>
                                        <th>ID</th>
                                        {{#each addedData}}
                                            <th>{{header}}</th>
                                        {{/each}}
                                        <th>Planned Date</th>
                                    </tr>
                                        <tr>
                                            <td>{{id}}</td>
                                            {{#each addedData}}
                                                <td>{{data}}</td>
                                            {{/each}}
                                            <td>{{plannedDate}}</td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                    {{/if}}
                {{/if}}

                {{!-- add meal item(s) form --}}
                <div class="container h-100" id="addMealItem">
                    <h4 class='row justify-content-center'>Fill out form to Quick Add Meal Idea:</h4>
                    <hr />
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="col-10 col-md-8 col-lg-6">
                            <form action="/addMealIdea" method="POST">
                                <div id='mealItemDiv' class="form-group">
                                    <label id="mealItemLabel" for="mealItem">Meal Item:</label>
                                    <input id="mealItemInput" type="text" name="mealItem[]" class="form-control"  placeholder="Enter Meal Item">                               
                                </div>
                                <div>
                                    <button id="addRow" type="button" class="btn btn-primary">Add Item</button>
                                    <button id="deleteRow" type="button" class="btn btn-danger">Remove Item</button> 
                                </div>
                                <div class="form-group">
                                    <label id="dateLabel" for="dateSelect">Select Date:</label>
                                    <input id="dateSelector" type="text" name="dateSelect" class="form-control" placeholder="Click to Select Date"></input>
                                </div>                                                          
                                <div>
                                    <button type="submit" class="btn btn-primary btn-lg float-right">Submit</button>
                                </div>
                            </form>
                            <br />
                        </div>
                    </div>
                </div>

                {{!-- display all added meal ideas --}}
                {{#each dataListing}}
                    <div class="container">
                        <div class="table-responsive">
                            <br />
                            <table class="table">
                                <tr> 
                                    {{#each mealItem}}
                                        <th>Item</th>
                                        {{!-- want to make this dynamic --}}
                                        {{!-- <th>{{header}}</th> --}}
                                    {{/each}}
                                    <th>Planned Date</th>
                                    <th>ID</th>
                                </tr>
                                    <tr>
                                        {{#each mealItem}}
                                            <td>{{this}}</td>
                                        {{/each}}
                                        <td>{{dateSelect}}</td>
                                        <td>{{_id}}</td>                                        
                                    </tr>
                            </table>
                        </div>
                    </div>
                {{/each}}

            </div>
        </section>

        {{!-- footer navigation bar --}}
        <footer>
            <div class="container">
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="/">Meal Planning</a>
                </nav>
            </div>
        </footer>

        <!-- Optional Bootstrap JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>    
        <script type="text/javascript" src="js/jqueryScripts.js"></script> 
    </body>
</html>

